.app-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.chart-container{
  width: 80vw;
}

.left-container{
  width: 20vw;
}

.container-input-file{
  width: 100%;
}

.container-inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title{
  width: 100%;
  text-align: center;
}

.model-image{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.action-button{
  width: 100%;
}